/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  text-align: center;
}
.board{
  border: 20px;
}

.svg {
  background-image : url(img/halfcourt.png);
  float: left;
  position: relative;
}

/*.enemy {
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

*/
.gameNum {
  position: absolute; 
  top:555px;
  left:600px;
	font-size: 35px;
}

img{
     vertical-align: bottom;   
}
#description {
  position: absolute;   
  top: 0px;
  left:350px;
}

#smallone{
    top: 485px;
    left: 275px;
    position: absolute;   
}
#key{
    top: 520px;
    left: 785px;
    position: absolute;   
}

#players{
    top: 55px;
    left: 555px;
    position: absolute;   
}

.playerName, .playerSeason{
    top: 0px;
    left: 213px;
    font-size: 30px;
    position: absolute;  
    font-family: fantasy; 

}
.playerSeason{
	top: 70px;
    left: 520px;
}
.twitter{
	top: 510px;
	left: 580px;
	font-size: 20px;
    position: absolute;  
    font-family: script; 
}